<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.open.aqrlei.ipc">

    <permission android:name="com.aqrlei.permission.PROVIDER" />

    <uses-permission android:name="com.aqrlei.permission.PROVIDER" />


    <uses-permission android:name="com.aqrlei.permission.PROVIDER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IPCActivity" />

        <provider
            android:name=".contentprovider.OrderProvider"
            android:authorities="aqrlei.OrderProvider"
            android:process=":remote"
            android:permission="com.aqrlei.permission.PROVIDER" />
        <service
            android:name=".IPCService"
            android:process=":remote" />
    </application>

</manifest>